<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MatchWear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95290F921DBE465A006FD086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95290FA61DBE465B006FD086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95290FB11DBE465B006FD086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
